Repository marcosomma/orka-reasoning: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Orchestrator Module, Configuration Loader, Type Contracts, Resource Registry, Memory System, Agent System, Node System

grok review fix01
  orka/memory/redisstack_logger.py
  orka/nodes/loop_node.py
  orka/orka_start.py
  orka/utils/bootstrap_memory_index.py
Due: unittests, integration, Memory System, Node System

second iteration fixes
  example_configurable_loop_node.yml
  orka/nodes/loop_node.py
Due: unittests, integration, Node System

fix tests
  .github/workflows/test.yml
Due: none

Refactor entry point names for OpenAIAnswerBuilder and adjust coverage threshold in configuration files. Remove unused service definitions from CI workflow.
  .github/workflows/test.yml
  orka/agents/__init__.py
  orka/orchestrator/agent_factory.py
  pyproject.toml
Due: unittests, integration, Orchestrator Module, Agent System

Update README.md for version 0.8.x: refine new features section, add bug fixes and performance optimizations, and streamline badge display for downloads.
  README.md
Due: none

Update README.md to enhance badge display for downloads and add a link to Pepy total downloads statistics.
  README.md
Due: none

docs: Add comprehensive developer documentation for OrKa
  docs/DEVELOPER_GUIDE_INTELLIGENT_QA_FLOW.md
  docs/GIT_TIMELINE_PROJECT_EVOLUTION.md
  docs/PROJECT_EXCELLENCE_REVIEW.md
  docs/TEST_COVERAGE_ENHANCEMENT_STRATEGY.md
Due: none

Update codecov.yml to set max report age to 72 hours and correct coverage range syntax from "70...100" to "70..100".
  codecov.yml
Due: none

Update coverage reports and enhance documentation
  .coverage
  coverage.xml
  docs/ONTOLOGY.md
  docs/index.md
  examples/memory_category_test.yml
  orka/server.py
  tests/unit/test_server.py
Due: unittests, integration

0.8.2
  CHANGELOG.MD
  pyproject.toml
Due: none

Update coverage metrics in coverage.xml and binary coverage file
  .coverage
  coverage.xml
Due: none

Update coverage targets in codecov.yml and refine GitHub Actions workflow
  .github/workflows/test.yml
  codecov.yml
Due: none

Refine codecov.yml configuration for coverage reporting
  codecov.yml
Due: none

Refactor codecov.yml configuration for improved clarity and structure
  codecov.yml
Due: none

Update coverage metrics in coverage.xml and enhance GitHub Actions workflow
  .coverage
  .github/workflows/test.yml
  coverage.xml
Due: none

Update GitHub Actions workflow for Codecov integration
  .github/workflows/test.yml
Due: none

Refactor GitHub Actions workflow for Codecov integration
  .github/workflows/test.yml
Due: none

Update timestamp in coverage.xml to reflect recent changes
  coverage.xml
Due: none

Update logo in README and add new logo asset
  README.md
  assets/logo_new.png
Due: none

Enhance Codecov configuration for improved coverage reporting
  .github/workflows/test.yml
  codecov.yml
Due: none

Update README badges for improved clarity and accuracy
  README.md
Due: none

Update README badge for Codecov to improve clarity
  README.md
Due: none

maternity experiment
  docs/exp_maternity01/maternity_v4.yml
  docs/exp_maternity01/orka_debug_console_20250815_232529.log
  docs/exp_maternity01/orka_trace_20250815_232658.json
  docs/exp_maternity01/orka_trace_20250815_232826.json
  docs/exp_maternity01/orka_trace_20250815_232849.json
Due: none

Add OrKa-Reasoning YAML Expert Guide and maternal instinct workflows
  examples/orka_maternity/maternity_v0.yml
  examples/orka_maternity/maternity_v1.yml
  examples/orka_maternity/maternity_v2.yml
  examples/orka_maternity/maternity_v3.yml
  examples/orka_maternity/maternity_v4.yml
  orka/orchestrator/execution_engine.py
Due: unittests, integration, Orchestrator Module

Enhance vector search capabilities across multiple YAML configurations
  examples/cognitive_society_minimal_loop.yml
  examples/memory_category_test.yml
  examples/memory_read_fork_join_router.yml
  examples/memory_validation_routing_and_write.yml
  examples/orka_maternity/maternity_v0.yml
  examples/orka_maternity/maternity_v1.yml
  examples/orka_maternity/maternity_v2.yml
  examples/orka_maternity/maternity_v3.yml
  examples/orka_maternity/maternity_v4.yml
  examples/orka_soc/cognitive_society_with_memory_local_optimal-gpt-oss-20b.yml
  examples/orka_soc/cognitive_society_with_memory_local_optimal_deepseek-32b.yml
  examples/orka_soc/cognitive_society_with_memory_local_optimal_deepseek-8b.yml
  examples/routed_binary_memory_writer.yml
  orka/memory/redisstack_logger.py
  orka/memory_logger.py
  orka/orchestrator/prompt_rendering.py
  orka/utils/bootstrap_memory_index.py
  tests/unit/test_redisstack_vector_field_fixes.py
Due: unittests, integration, Orchestrator Module, Memory System

Update version to 0.8.3 and enhance memory system with new features
  .coverage
  CHANGELOG.MD
  coverage.xml
  pyproject.toml
  tests/unit/test_bootstrap_memory_index_comprehensive.py
  tests/unit/test_redisstack_logger.py
  tests/unit/test_redisstack_logger_comprehensive.py
  tests/unit/test_redisstack_vector_field_fixes.py
Due: none

minor fix readme
  README.md
Due: none

v0.8.5
  .coverage
  CHANGELOG.MD
  README.md
  coverage.xml
  docs/YAML_CONFIGURATION.md
  docs/quickstart.md
  pyproject.toml
Due: none

GSM8K
  docs/benchmark/GSM8K_Model_Accuracies.png
  docs/benchmark/README.md
  docs/benchmark/benchmark_chunk_1_summary.json
  docs/benchmark/benchmark_chunk_2_summary.json
  docs/benchmark/benchmark_chunk_3_summary.json
  docs/benchmark/benchmark_chunk_4_summary.json
  docs/benchmark/benchmark_chunk_5_summary.json
  docs/benchmark/benchmark_chunk_6_summary.json
  docs/benchmark/benchmark_chunk_7_summary.json
  docs/benchmark/benchmark_chunk_8_summary.json
  docs/benchmark/benchmark_evaluator.yml
  docs/benchmark/cot_multi_perspective.yml
  docs/benchmark/run_benchmark.py
Due: none

Add chart image to benchmark README
  docs/benchmark/README.md
Due: none

v0.9.0
  .coverage
  .coverage.marco-desktop.11324.XknjEWwx
  .coverage.marco-desktop.12804.XFFlgMSx
  .coverage.marco-desktop.20644.XRXNrEjx
  .coverage.marco-desktop.2856.XaACOgpx
  .coverage.marco-desktop.28636.XwKBvpwx
  .coverage.marco-desktop.33020.XXkDvnax
  .coverage.marco-desktop.39068.XVOvDfmx
  .coverage.marco-desktop.51760.XhclEuex
  .coverage.marco-desktop.63240.XKVtZEpx
  CHANGELOG.MD
  README.md
  coverage.xml
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  orka/__init__.py
  orka/agents/__init__.py
  orka/agents/llm_agents.py
  orka/agents/local_cost_calculator.py
  orka/agents/local_llm_agents.py
  orka/cli/core.py
  orka/memory/__init__.py
  orka/memory/base_logger.py
  orka/memory/redisstack_logger.py
  orka/memory_logger.py
  orka/nodes/loop_node.py
  orka/nodes/memory_reader_node.py
  orka/nodes/memory_writer_node.py
  orka/nodes/rag_node.py
  orka/nodes/router_node.py
  orka/server.py
  orka/startup/__init__.py
  orka/tui_interface.py
  pyproject.toml
Due: unittests, integration, Memory System, Agent System, Node System

Adjust dependency specifications in pyproject.toml
  .coverage
  coverage.xml
  pyproject.toml
Due: none

Update CHANGELOG for version 0.9.1, addressing critical Redis dependency resolution issues, including import error fixes and dependency version pinning. Update pyproject.toml to reflect new version.
  CHANGELOG.MD
  pyproject.toml
Due: none

v0.9.3
  .coverage
  examples/graph_scout_dynamic.yml
  examples/graph_scout_example.yml
  orka/nodes/graph_scout_agent.py
  orka/orchestrator/agent_factory.py
  orka/orchestrator/budget_controller.py
  orka/orchestrator/decision_engine.py
  orka/orchestrator/dry_run_engine.py
  orka/orchestrator/execution_engine.py
  orka/orchestrator/graph_api.py
  orka/orchestrator/graph_introspection.py
  orka/orchestrator/path_scoring.py
  orka/orchestrator/safety_controller.py
  orka/tools/__init__.py
  orka/tools/search_tools.py
  pytest_search_tools.ini
  tests/integration/test_advanced_workflows.py
  tests/integration/test_example_workflows.py
  tests/test_graph_scout_agent.py
  tests/unit/test_search_tools_comprehensive.py
Due: unittests, integration, Orchestrator Module, Node System

Path conditions:
  unittests: any of: orka/
  integration: any of: orka/
  Orchestrator Module: any of: orka/orchestrator/
  Configuration Loader: any of: orka/loader.py
  Type Contracts: any of: orka/contracts.py
  Resource Registry: any of: orka/registry.py
  Memory System: any of: orka/memory/
  Agent System: any of: orka/agents/
  Node System: any of: orka/nodes/
